<link href="//vjs.zencdn.net/4.7.1/video-js.css" rel="stylesheet">
<link href="//demo.adsplay.net/demo/lib/videojs-contrib-ads/videojs.ads.css" rel="stylesheet" type="text/css">
<script src="//vjs.zencdn.net/4.7.1/video.js"></script>

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>-->
<!--<script src="js/creative/nv.d3.js"></script>-->
<!--<link href="css/creative/nv.d3.css" rel="stylesheet">-->
<style>
    span[datatype=real-time] {
        font-weight: bold;
        font-size: 18px;
    }
    span.impress-text {
        font-weight: bold;
        font-size: 18px;
    }
    .table {
        table-layout: fixed;
    }

    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    svg.report-detail-piechart {
        display: block;
        float: left;
        height: 350px;
        width: 350px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">Ad Details</li>
        </ol>
        <h1 class="page-header">
            <span>{{crt.name}}</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel">
            <div class="panel-body" id="media-html">
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Summary Report from {{begin}} to {{end}} </strong></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <td><strong>Created date</strong></td>
                            <td><span id="ads_date_started">{{crt.crtDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Run date</strong></td>
                            <td><span id="ads_date_run">{{crt.runDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Expired date</strong></td>
                            <td><span id="ads_date_expired">{{crt.expDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td><span id="ads_status">{{crt.status}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Click Through URL</strong></td>
                            <td><a id="ads_cliThr" href="{{crt.cliThr}}">{{crt.cliThr}}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Total Booking</strong></td>
                            <td><span id="ads_totalBooking" class="impress-text">{{formatCurrency crt.tBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Daily Booking</strong></td>
                            <td><span id="ads_dailyBooking" class="impress-text">{{formatCurrency crt.dBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Hourly Booking</strong></td>
                            <td><span id="ads_hourlyBooking" class="impress-text">{{formatCurrency crt.hBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Discount</strong></td>
                            <td><span id="ads_discount" class="impress-text">{{formatCurrency crt.discount}}</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Ad materials</strong></td>
                            <td><span id="ads_materials">Video</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Duration</strong></td>
                            <td><span id="ads_duration">15 seconds</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Size</strong></td>
                            <td><span id="ads_size">2 MB</span></td>
                        </tr>
                        <tr>
                            <td><strong>Click-through Rate (CTR)</strong></td>
                            <td><span datatype="real-time" id="ctr">0</span> %</td>
                        </tr>
                        <tr>
                            <td><strong>Completed-View Rate (CVR)</strong></td>
                            <td><span datatype="real-time" id="trueViewRate">0</span> %</td>
                        </tr>
                        <tr>
                            <td><strong>Total Impression</strong></td>
                            <td>
                                <span datatype="real-time" id="totalImp">0</span>
                                <span datatype="real-time" id="totalImpDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Completed View</strong></td>
                            <td><span datatype="real-time" id="totalTrv">0</span>
                                <span datatype="real-time" id="totalTrvDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Click</strong></td>
                            <td><span datatype="real-time" id="totalClick">0</span>
                                <span datatype="real-time" id="totalClickDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Audience Reach</strong></td>
                            <td><span datatype="real-time" id="reach">0</span>
                                <span datatype="real-time" id="totalReachDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Estimated Revenue</strong></td>
                            <td><span id="ads_totalRevenue"
                                      class="impress-text">{{formatCurrency crt.totalRevenue}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                    {{#if isAdminGroup}}
                        <a id="ads_cliThr" href="{{buildUrl editUrl}}">Edit Creative</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{>creative-details-partial}}
