<link href="//demo.adsplay.net/demo/lib/videojs-contrib-ads/videojs.ads.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-editable.css" rel="stylesheet">
<script src="js/bootstrap-editable.min.js"></script>
<script src="js/moment.min.js"></script>
<style>
    span[datatype=real-time] {
        font-weight: bold;
        font-size: 18px;;
    }
    .table {
        table-layout:fixed;
    }

    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    /* Make inline editables take the full width of their parents */
    .editable-container.editable-inline,
    .editable-container.editable-inline .control-group.form-group,
    .editable-container.editable-inline .control-group.form-group .editable-input,
    .editable-container.editable-inline .control-group.form-group .editable-input textarea,
    .editable-container.editable-inline .control-group.form-group .editable-input select,
    .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit])
    {
        width: 85%;
    }
    .editable-container.editable-inline .control-group.form-group .editable-input input + span.editable-clear-x {
        right: 30px;
    }
    /*.editable-container.editable-inline .control-group.form-group .editable-input input[type=number] + span.editable-clear-x {*/
        /*right: 30px;*/
    /*}*/
</style>

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list/all">All Advertising Units</a></li>
            <li class="active">Ad Details</li>
        </ol>
        <h1 class="page-header">
            <span>{{crt.name}}</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 text-center" style="padding-top: 10%">
        <div class="panel">
            <div class="panel-body">
                <img style="width: 100%" src="{{crt.media}}" class="">
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Summary Report from {{begin}} to {{end}} </strong></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <td class="col-md-4"><strong>Name</strong></td>
                            <td><a href="#" id="name" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Name">{{crt.name}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Created date</strong></td>
                            <td><span id="ads_date_started">{{crt.crtDate}}</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Ad materials</strong></td>
                            <td><span id="ads_materials">Overlay</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Run Date</strong></td>
                            <td><a href="#" id="runDate" data-type="combodate" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Select run date">{{crt.runDate}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Expire Date</strong></td>
                            <td><a href="#" id="expDate" data-type="combodate" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Select expired date">{{crt.expDate}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Score</strong></td>
                            <td><a href="#" id="score" data-type="number" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Score">{{crt.score}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>fqcCap</strong></td>
                            <td><a href="#" id="fqcCap" data-type="number" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Frequency cap">{{crt.fqcCap}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Status</strong></td>
                            <td><a href="#" id="status" data-type="select" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Select status"></a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Click through url</strong></td>
                            <td><a href="#" id="cliThr" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Click through URL">{{crt.cliThr}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Total Booking</strong></td>
                            <td><a href="#" id="tBk" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Total Booking">{{crt.tBk}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Daily Booking</strong></td>
                            <td><a href="#" id="dBk" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Daily Booking">{{crt.dBk}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Hourly Booking</strong></td>
                            <td><a href="#" id="hBk" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Hourly Booking">{{crt.hBk}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Media</strong></td>
                            <td><a href="#" id="media" data-type="text" data-pk="{{crt.id}}" data-url="/creative/{{crt.id}}/update" data-title="Media file name or URL">{{crt.media}}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Duration</strong></td>
                            <td><span id="ads_duration">15 seconds</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Size</strong></td>
                            <td><span id="ads_size">2 MB</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Click-through Rate (CTR)</strong></td>
                            <td><span datatype="real-time" id="ctr">0</span> %</td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Completed-View Rate (CVR)</strong></td>
                            <td><span datatype="real-time" id="trueViewRate">0</span> %</td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Total Impression</strong></td>
                            <td>
                                <span datatype="real-time" id="totalImp">0</span>
                                <span datatype="real-time" id="totalImpDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Total Completed View</strong></td>
                            <td><span datatype="real-time" id="totalTrv">0</span>
                                <span datatype="real-time" id="totalTrvDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Total Click</strong></td>
                            <td><span datatype="real-time" id="totalClick">0</span>
                                <span datatype="real-time" id="totalClickDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><strong>Audience Reach</strong></td>
                            <td><span datatype="real-time" id="reach">0</span>
                                <span datatype="real-time" id="totalReachDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
//preview TVC Instream Video Ads auto
$.fn.editable.defaults.mode = 'inline';

errorHandler = function(response, newValue) {
    if(response.status === 403) {
        window.location.href = "{{buildUrl '/403'}}";
//                        return 'You don\'t have permission'; //msg will be shown in editable form
    } else {
        return response.msg; //msg will be shown in editable form
    }
};

$(document).ready(function() {
    $('#name').editable({
        error: errorHandler
    });
    $('#runDate').editable({
        format: 'x',
        viewformat: 'LLL',
        template: 'D MMMM YYYY HH:ss',
        combodate: {
            minYear: 2015,
            maxYear: 2016,
            minuteStep: 1
        },
        error: errorHandler
    });
    $('#expDate').editable({
        format: 'x',
        viewformat: 'LLL',
        template: 'D MMMM YYYY HH:ss',
        combodate: {
            minYear: 2015,
            maxYear: 2016,
            minuteStep: 1
        },
        error: errorHandler
    });
    $('#score').editable({
        error: errorHandler
    });
    $('#fqcCap').editable({
        error: errorHandler
    });
    var stt = {{{json stt}}};
    $('#status').editable(
            {
                value: {{crt.status}},
                source: stt,
                error: errorHandler
            }
    );
    $('#cliThr').editable({
        error: errorHandler
    });
    $('#tBk').editable({
        error: errorHandler
    });
    $('#dBk').editable({
        error: errorHandler
    });
    $('#hBk').editable({
        error: errorHandler
    });
    $('#media').editable({
        error: errorHandler
    });
});

//format time for Chart
var formatTime = function (x) {
    return new moment(x).format("YYYY-MM-DD");
};

var filterDate = new moment().format("YYYY-MM-DD");
var now = moment();
var currentDay = now.format("YYYY-MM-DD-HH");
var previousDay = now.subtract(1, 'days').format("YYYY-MM-DD-HH");


var totalImpPrev = 0, totalTrvPrev = 0, totalClickPrev = 0, totalReachPrev = 0;
var loadSummaryData = function () {
    d3.json("{{site.ssl_api_domain}}/api/creative/summary/{{crtId}}", function (error, data) {
        if (data && data.length > 0) {
            var crtStats = data[0];
            $('#totalImp').text(formatNumber(crtStats.imp));
            $('#totalTrv').text(formatNumber(crtStats.trv));
            $('#totalClick').text(formatNumber(crtStats.c));
            $('#ctr').text((crtStats.ctr * 100).toFixed(2));
            $('#trueViewRate').text((crtStats.tvr * 100).toFixed(2));
            $('#reach').text(formatNumber(crtStats.reach));

            if (totalImpPrev > 0) {
                $('#totalImpDelta').text(formatNumber(crtStats.imp - totalImpPrev)).show();
            }
            if (totalClickPrev > 0) {
                $('#totalClickDelta').text(formatNumber(crtStats.c - totalClickPrev)).show();
            }
            if (totalReachPrev > 0) {
                $('#totalReachDelta').text(formatNumber(crtStats.reach - totalReachPrev)).show();
            }
            if (totalTrvPrev > 0) {
                $('#totalTrvDelta').text(formatNumber(crtStats.trv - totalTrvPrev)).show();
                $('span[datatype="real-time"]').animate({backgroundColor: "#40FF00"}, 'slow').animate({backgroundColor: "#CEF6CE"}, 'slow');
            }

            totalImpPrev = crtStats.imp;
            totalTrvPrev = crtStats.trv;
            totalClickPrev = crtStats.c;
            totalReachPrev = crtStats.reach;
        }
    });
};


loadSummaryData();

setInterval(function () {
    loadSummaryData();
    // loadLineChartWithData();
}, 10001);
</script>