<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            All Advertising Units
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class='col-lg-3'>
                <div class="form-group">
                    <div class='input-group' >
                        <label>Status: </label>
                        <select class="form-control" id="filter-status" >
                            <option value="-1">All Ad Units</option>
                            {{#each statuses}}
                                <option value="{{value}}">{{label}} Ad Units</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="tbl-creatives">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Total Impression</th>
                    <th style="display: none">Total Complete-View</th>

                    <th>Total Click</th>
                    <th><a href="javascript:" title="Click-through rate">CTR</a></th>
                    <th style="display: none"><a href="javascript:" title="Complete-View rate">CVR</a></th>
                    <th>Booking Time</th>
                    <th>Revenue</th>
                </tr>
                </thead>
                <tbody>

                {{#each creatives}}
                    <tr {{#if active }} class="active" {{/if}} >
                        <td>{{id}}</td>
                        <td><a href="/creative/{{id}}">{{name}}</a></td>
                        <td>{{status}}</td>
                        <td>{{formatCurrency imp}}</td>
                        <td style="display: none" >{{formatCurrency trv}}</td>

                        <td>{{formatCurrency c}}</td>
                        <td>{{ctr}}%</td>
                        <td style="display: none" >{{tvr}}%</td>
                        <td>{{runDate}} &#10145; {{expiredDate}}</td>
                        <td>{{formatCurrency totalRevenue}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(function () {
        $(document).tooltip();

        Handlebars.registerHelper('formatCurrency', function(value) { return value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); });

        $('#filter-status').change(function () {
            $.get( "creative_json/list?status=" + $(this).val(), function( data ) {
                var dataList = {creatives: data};

                if (!data || data.length == 0) {
                    $('#tbl-creatives').find('tbody').empty().append('<tr><td colspan="7" style="text-align: center">No record found!</td></tr>');
                } else {
                    var source = $("#tpl-crt-list").html();
                    var template = Handlebars.compile(source);
                    var htmlTable = template(dataList);

                    $('#tbl-creatives').find('tbody').empty().append(htmlTable);
                }
            });
        })
    });
</script>

<script id="tpl-crt-list" type="text/x-handlebars">
    \{{#each creatives}}
        <tr \{{#if active }} class="active" \{{/if}} >
            <td>\{{id}}</td>
            <td><a href="/creative/\{{id}}">\{{name}}</a></td>
            <td>\{{status}}</td>
            <td>\{{formatCurrency imp}}</td>
            <td style="display: none" >\{{formatCurrency trv}}</td>

            <td>\{{formatCurrency c}}</td>
            <td>\{{ctr}}%</td>
            <td style="display: none" >\{{tvr}}%</td>
            <td>\{{runDate}} &#10145; \{{expiredDate}}</td>
            <td>\{{formatCurrency totalRevenue}}</td>
        </tr>
    \{{/each}}
</script>
