<style type="text/css">
	#plt_form table td{
		position: relative;
	}
	.validatr-message{
		padding: 1px 5px !important;
		font-size: 11px;
		max-width: 160;
		z-index: 1;
	}
	.row-overlay{
		display: none;
	}
</style>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
        </ol>
        <h1 class="page-header">
            All Placements
        </h1>
    </div>
</div>

<p>
	<button type="button" class="btn btn-primary" id="new-placement">
		<i class="fa fa-fw fa-list"></i> New Placement
	</button>
</p>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Publisher</th>
						<th>Type</th>
						<th>Width</th>
						<th>Height</th>
						<th>Updated Date</th>
						<th>Action</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="plt_container">
					{{#each placements}}
					<tr>
						<td class="plt_id">{{id}}</td>
						<td class="plt_name">{{name}}</td>
						<td class="plt_publisher">{{publisher}}</td>
						<td class="plt_type">{{type}}</td>
						<td class="plt_width">{{width}}</td>
						<td class="plt_height">{{height}}</td>
						<td class="plt_updatedDate">{{updatedDate}}</td>
						<td width="60px" class="text-center">
							<button type="button" id="{{id}}" class="btn btn-primary btn-xs action-btn" title="action">
								<i class="fa fa-file-code-o"></i>
							</button>
						</td>
						<td width="40px">
							<button type="button" id="{{id}}" class="btn btn-primary btn-xs edit-placement" title="edit">
								<i class="fa fa-pencil"></i>
							</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
            </table>
		</div>
	</div>
</div>

<!-- modal form popup -->
<div id="modal-placement" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Form Placement</h4>
      </div>
      <div class="modal-body">
      	<form id="plt_form">
      		<table class="table table-bordered table-hover table-striped">
				<tbody>
					<input type="hidden" class="form-control" name="plt_id">
					<tr>
						<td><strong>Name</strong></td>
						<td>
							<input type="text" class="form-control" name="plt_name" data-minLength="10" required>
						</td>
					</tr>
					<tr>
						<td><strong>Publisher</strong></td>
						<td>
							<input type="text" class="form-control" name="plt_publisher" required>
						</td>
					</tr>
					<tr>
						<td><strong>Type</strong></td>
						<td>
							<select class="form-control" name="plt_type">
				                <option value="1">Video</option>
				                <option value="2">Display Banner</option>
				                <option value="3">Overlay Banner</option>
				            </select>
						</td>
					</tr>
					<tr class="row-overlay">
						<td><strong>Width</strong></td>
						<td>
							<input type="number" class="form-control" name="plt_width">
						</td>
					</tr>
					<tr class="row-overlay">
						<td><strong>Height</strong></td>
						<td>
							<input type="number" class="form-control" name="plt_height">
						</td>
					</tr>
				</tbody>
	        </table>
	        <div class="text-right">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	<button type="submit" class="btn btn-primary" id="plt_submit">
					OK
				</button>
	        </div>
      	</form>
        
      </div>
    </div>
  </div>
</div>

<div id="action-placement" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Form Placement</h4>
      </div>
      <div class="modal-body">
      	<p>
      		<textarea placeholder="enter code" class="form-control">
      		</textarea>
      	</p>
		<div class="text-right">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary" id="plt_submit">
				OK
			</button>
		</div>
      </div>
    </div>
  </div>
</div>

<script src="js/validatr.min.js"></script>
<script src="js/business-domains/placement-handler.js"></script>