<div class="panel panel-default table-align-middle">
    <div class="panel-heading">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Ad Information</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>

                <tr id="row_ads_name">
                    <td><strong>Name</strong></td>
                    <td>
                        <input type="text" class="form-control" id="ads_name" data-creative-field="name" required
                               placeholder="Enter Ad Name">
                    </td>
                </tr>

                <tr id="row_ads_des">
                    <td><strong>Description</strong></td>
                    <td>
                        <textarea class="form-control" rows="3" id="ads_des" data-creative-field="desc"
                                  placeholder="Enter Ad Description"></textarea>
                    </td>
                </tr>

                <tr id="row_ads_size" class="video-hidden">
                    <td><strong>Ads Size</strong></td>
                    <td>
                        <select id="ads-size" class="select-multi" data-placeholder="Choose file image"
                                disabled="disabled">
                            {{#each adsSize}}
                                <option value='{{size.w}}x{{size.h}}'>{{name}}: {{size.w}} x {{size.h}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>

                <tr id="row_ads_clickthr" data-paytv="false">
                    <td><strong>Click-through URL</strong></td>
                    <td>
                        <input type="url" class="form-control" id="ads_clickthr" data-creative-field="cliThr"
                               pattern="https?://.+" placeholder="Enter Click-through URL">
                    </td>
                </tr>

                <tr id="row_ads_thirdparty_url" data-ad-type="1" data-paytv="false">
                    <td><strong>URL of third-party tracking</strong></td>
                    <td>
                        <input type="url" class="form-control" id="ads_thirdparty_url" data-creative-field="vastXml3rd"
                               pattern="https?://.+" placeholder="Enter Third-party Ad URL">
                    </td>
                </tr>

                <tr id="row_ads_status">
                    <td><strong>Ad Status</strong></td>
                    <td>
                        <div>
                            <select class="form-control" id="ads_status" data-creative-field="status">
                                <option value="0">Invalid</option>
                                <option value="1">Pending</option>
                                <option value="2">Running</option>
                                <option value="3">Finished</option>
                                <option value="4">Expired</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong title="Base Cost (for 1 Impression or Click)">Base Cost</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_basecost" data-creative-field="cost" required
                               min="0" placeholder="Enter Base Cost" value="0">
                    </td>
                </tr>

                <tr>
                    <td><strong title="Total Booking (Impression or Click)">Total Booking</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_totalbooking" data-creative-field="tBk"
                               required min="0" placeholder="Enter Total Booking" value="0">
                    </td>
                </tr>

                <tr>
                    <td><strong title="Daily Booking (Impression or Click)">Daily Booking</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_dailybooking" data-creative-field="dBk"
                               required min="0" placeholder="Enter Daily Booking" value="0">
                    </td>
                </tr>

                <tr style="display: none">
                    <td><strong title="Hourly Booking (Impression or Click)">Hourly Booking</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_hourlybooking" data-creative-field="hBk"
                               required min="0" placeholder="Enter Hourly Booking" value="0">
                    </td>
                </tr>

                <tr>
                    <td><strong>Running Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="datetime-local" class="form-control" id="ads_running_date"
                               data-creative-field="runDate" required placeholder="Enter Running Date">
                    </td>
                </tr>

                <tr>
                    <td><strong>Expired Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="datetime-local" class="form-control" id="ads_expired_date"
                               data-creative-field="expiredDate" required placeholder="Enter Expired Date">
                    </td>
                </tr>

                <tr>
                    <td><strong>Pricing Model</strong></td>
                    <td>
                        <div class="text-left">

                            <div class="radio">
                                <label title="CPM (Cost per Mile)">
                                    <input type="radio" name="prcModel" data-creative-field="prcModel" value="2"> CPM
                                    (Cost per Mile)</label>
                            </div>
                            <div class="radio">
                                <label title="CPC (Cost per Click)">
                                    <input type="radio" name="prcModel" data-creative-field="prcModel" value="3"> CPC
                                    (Cost per Click)</label>
                            </div>
                            <div class="radio">
                                <label title="CPD (Cost per Day)">
                                    <input type="radio" name="prcModel" data-creative-field="prcModel" value="5"> CPD
                                    (Cost per Day)</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Ad Frequency </strong></td>
                    <td>
                        <div>
                            <div class="form-group">
                                <select class="form-control" id="ad_fqccap" data-creative-field="fqcCap">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Priority Score<br> (higher is better)</strong></td>
                    <td>
                        <div>
                            <select class="form-control" id="ad_score" data-creative-field="score">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="panel panel-default table-align-middle">
    <div class="panel-heading">
        <h2><i class="fa fa-crosshairs" aria-hidden="true"></i> Targeting Information</h2>
    </div>
    <div class="panel-body">
        <div>
            <table class="table table-bordered table-hover table-striped">
                <tbody>

                <tr>
                    <td width="30%"><strong>Location</strong></td>
                    <td>
                        <div class="text-left">
                            <select class="select-multi" id="ad_target_location" type="select"
                                    data-creative-field="tglocs"
                                    data-placeholder="Show Ads in these locations" multiple="multiple">
                                {{#each locationCodes.Location}}
                                    <option value="{{ConChar}}" class="optLocation">{{LocName}}</option>
                                {{/each}}
                                {{#each locationCodes.Area}}
                                    <optgroup label="{{AreaName}}" class="optArea">
                                        {{#each ListArea}}
                                            <option value="{{ConChar}}">{{LocName}}</option>
                                        {{/each}}
                                    </optgroup>
                                {{/each}}
                            </select>
                        </div>
                    </td>
                </tr>

                <tr data-ad-type="1">
                    <td><strong>Device Type</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_device">
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox" data-creative-field="tgpfs" value="1">Web
                                    (PC,Laptop)</label>
                            </div>
                            <div class="checkbox banner-hidden" data-paytv="false">
                                <label><input type="checkbox" data-creative-field="tgpfs" value="4">Mobile Native App
                                    (Android,iOS)</label>
                            </div>
                            <div class="checkbox banner-hidden" data-paytv="false">
                                <label><input type="checkbox" data-creative-field="tgpfs" value="5">Smart TV</label>
                            </div>
                            <div class="checkbox banner-hidden">
                                <label><input type="checkbox" data-creative-field="tgpfs" value="6"
                                              data-paytv="default">IPTV</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr data-ad-type="1">
                    <td><strong>Ad Placement</strong></td>
                    <td>
                        <div class="panel-body text-left" id="target_ad_placements">
                            <div class="panel-group" id="accordion_ad_placements">

                                <div class="panel panel-default" data-paytv="false">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <a data-toggle="collapse" data-parent="#accordion_ad_placements"
                                               href="#fptplay_ad_placements">FptPlay Ad Placements</a>
                                        </h4>
                                    </div>
                                    <div id="fptplay_ad_placements" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" data-creative-field="tgpms" data-device-id="1" value="1002"> DISPLAY_300x250_FPT_PLAY
                                                    </label>
                                                </div>
                                                <div class="bold">FptPlay Categories</div>
                                                <div>
                                                    <select class="select-multi" id="ad_target_content_keywords"
                                                            type="select" data-creative-field="tgkws"
                                                            data-placeholder="Enter the category's names"
                                                            multiple="multiple">
                                                        {{#each fptplayCategories}}
                                                            <option value="{{this}}">{{this}}</option>
                                                        {{/each}}
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </td>
                </tr>

                <tr data-paytv="false" style="display: none">
                    <td><strong>Audience Gender</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_gender">
                            <div class="checkbox">
                                <label><input type="checkbox" data-creative-field="tggds" value="0">Female</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" data-creative-field="tggds" value="1">Male</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox">All</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<hr>

<div class="panel">
    <div class="col-lg-12 text-center">
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_ok" type="button" class="btn btn-success"> OK</button>
        </div>
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_cancel" type="button" class="btn btn-warning"> Cancel</button>
        </div>
    </div>

</div>

<br><br><br><br><br>

<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="alert-body col-md-9 col-sm-12">Message error !!!</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<link rel="stylesheet" type="text/css" href="css/multiple-select.css">
<script src="js/multiple-select.js"></script>
<script src="js/business-domains/creative-display-handler.js"></script>
<script>var api_domain = "{{site.ssl_api_domain}}";</script>


