<style type="text/css">
    input:required:invalid, input:focus:invalid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
        background-position: right top;
        background-repeat: no-repeat;
        -moz-box-shadow: none;
    }
    input:required:valid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
        background-position: right top;
        background-repeat: no-repeat;
    }
    #ad_target_content_cats_chosen {
        width: 300px !important;
    }
</style>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Ad Information</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr id="row_ads_name">
                    <td><strong>Name</strong></td>
                    <td>
                        <input type="text" class="form-control" id="ads_name" data-creative-field="name" required
                               placeholder="Enter Ad Name">
                    </td>
                </tr>
                <input type="hidden" id="ads_des" data-creative-field="desc">
                <input type="hidden" id="ads_clickthr" data-creative-field="cliThr">
                <input type="hidden" id="ads_thirdparty_url" data-creative-field="vastXml3rd">
                <input type="hidden" id="ads_status" data-creative-field="status" value="1">

                <div id="target_ad_placements" style="display: none">
                    <input  type="checkbox" checked id="ad_placements" data-creative-field="tgpms" value="320">
                </div>

                <tr>
                    <td><strong>Base Cost of One impression</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_basecost" data-creative-field="cost" required
                               min="0" placeholder="Enter Base Cost" value="0">
                    </td>
                </tr>
                <tr>
                    <td><strong>Total Booking (impression or complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_totalbooking" data-creative-field="tBk"
                               required min="0" placeholder="Enter Total Booking" value="0">
                    </td>
                </tr>
                <tr>
                    <td><strong>Daily Booking (impression or complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_dailybooking" data-creative-field="dBk"
                               required min="0" placeholder="Enter Daily Booking" value="0">
                    </td>
                </tr>
                <tr style="display: none">
                    <td><strong>Hourly Booking (impression / complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_hourlybooking" data-creative-field="hBk"
                               required min="0" placeholder="Enter Hourly Booking" value="0">
                    </td>
                </tr>

                <tr id="row_ads_duration" data-ad-type="1" >
                    <td><strong>TVC Duration</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ads_duration" data-creative-field="dura">
                                    <option value="00:00:05"> TVC 5 seconds</option>
                                    <option value="00:00:15"> TVC 15 seconds</option>
                                    <option value="00:00:30"> TVC 30 seconds</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Running Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="date" class="form-control" id="ads_running_date" data-creative-field="runDate"
                               required placeholder="Enter Running Date">
                    </td>
                </tr>
                <tr>
                    <td><strong>Expired Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="date" class="form-control" id="ads_expired_date" data-creative-field="expiredDate"
                               required placeholder="Enter Expired Date">
                    </td>
                </tr>

                <tr>
                    <td><strong>Pricing Model</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="radio">
                                <label title="CPV (Cost per Complete-View)">
                                    <input type="radio" name="prcModel" data-creative-field="prcModel" value="1"> CPV
                                    (Cost per Complete-View)</label>
                            </div>
                            <div class="radio ">
                                <label title="CPM (Cost per Mile)">
                                    <input type="radio" checked name="prcModel" data-creative-field="prcModel" value="2"> CPM
                                    (Cost per Mile)</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Ad Frequency </strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ad_fqccap" data-creative-field="fqcCap">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-crosshairs" aria-hidden="true"></i> Targeting Information</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" style="height: 300px">
                <tbody>


                <tr data-ad-type="1" style="display: none">
                    <td><strong>Device Platform</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_device">

                            <div class="checkbox">
                                <label><input type="checkbox" disabled checked data-creative-field="tgpfs" value="6"
                                              data-paytv="default">IPTV TV</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Targeting Category</strong></td>
                    <td>
                        <div>
                            <select id="ad_target_content_cats" type="select" data-creative-field="tgcats"
                                    data-placeholder="PayTV - Show Ads in these categories"
                                    style="width:350px!important;" multiple class="chosen-select">
                                {{#each payTVCategories}}
                                    <option value="{{ID}}">{{Category}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Targeting Location</strong></td>
                    <td>
                        <div>
                            <select id="ad_target_locs" type="select" data-creative-field="tglocs"
                                    data-placeholder="PayTV - Show Ads in these locations"
                                    style="width:350px!important;" multiple class="chosen-select">
                                {{#each payTVLocations}}
                                    <option value="{{ConChar}}">{{LocName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </td>
                </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="panel">
    <div class="col-lg-12 text-center">
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_ok" type="button" class="btn btn-success"> OK</button>
        </div>
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_cancel" type="button" class="btn btn-warning"> Cancel</button>
        </div>
    </div>

</div>

<br><br><br>

<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="alert-body col-md-9 col-sm-12">Message error !!!</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/business-domains/creative-handler.js?v=31052016"></script>
<script>var api_domain = "{{site.ssl_api_domain}}";</script>

<script src="js/chosen.jquery.js"></script>
<script type="text/javascript">
    function initJqueryChosen() {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    }
    setTimeout(initJqueryChosen, 500)
</script>