<style type="text/css">
    input:required:invalid, input:focus:invalid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
        background-position: right top;
        background-repeat: no-repeat;
        -moz-box-shadow: none;
    }
    input:required:valid {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
        background-position: right top;
        background-repeat: no-repeat;
    }
    #ad_target_content_cats_chosen {
        width: 300px!important;
    }
</style>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Ad Information</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr id="row_ads_name" >
                    <td><strong>Name</strong></td>
                    <td>
                        <input type="text" class="form-control" id="ads_name" data-creative-field="name"  required placeholder="Enter Ad Name">
                    </td>
                </tr>
                <tr id="row_ads_des" >
                    <td><strong>Description</strong></td>
                    <td>
                        <input type="text" class="form-control" id="ads_des" data-creative-field="desc" placeholder="Enter Ad Description">
                    </td>
                </tr>
                <tr id="row_ads_clickthr" data-paytv="false">
                    <td><strong>Click-through URL</strong></td>
                    <td>
                        <input type="url" class="form-control" id="ads_clickthr" data-creative-field="cliThr" pattern="https?://.+" placeholder="Enter Click-through URL">
                    </td>
                </tr>
                <tr id="row_ads_thirdparty_url" data-ad-type="1" data-paytv="false">
                    <td><strong>Third-party Ad URL</strong></td>
                    <td>
                        <input type="url" class="form-control" id="ads_thirdparty_url"  data-creative-field="vastXml3rd" pattern="https?://.+" placeholder="Enter Third-party Ad URL">
                    </td>
                </tr>
                <tr id="row_ads_status">
                    <td><strong>Status</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ads_status" data-creative-field="status"  >
                                    <option value="0">Invalid</option>
                                    <option value="1">Pending</option>
                                    <option value="2">Running</option>
                                    <option value="3">Finished</option>
                                    <option value="4">Expired</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Cost for 1 impression / complete-view</strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_basecost" data-creative-field="cost" required min="0"  placeholder="Enter Base Cost" value="0" >
                    </td>
                </tr>
                <tr>
                    <td><strong>Total Booking (impression / complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_totalbooking" data-creative-field="tBk" required min="0" placeholder="Enter Total Booking" value="0" >
                    </td>
                </tr>
                <tr>
                    <td><strong>Daily Booking (impression / complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_dailybooking" data-creative-field="dBk" required min="0" placeholder="Enter Daily Booking" value="0" >
                    </td>
                </tr>
                <tr>
                    <td><strong>Hourly Booking (impression / complete-view) </strong></td>
                    <td>
                        <input type="number" class="form-control" id="ads_hourlybooking" data-creative-field="hBk" required min="0" placeholder="Enter Hourly Booking" value="0" >
                    </td>
                </tr>
                <tr id="row_ads_duration" data-ad-type="1" >
                    <td><strong>TVC Duration</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ads_duration" data-creative-field="dura"  >
                                    <option value="00:00:05"> TVC 5 seconds</option>
                                    <option value="00:00:15"> TVC 15 seconds</option>
                                    <option value="00:00:30"> TVC 30 seconds</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="row_ads_skip" data-ad-type="1" >
                    <td><strong>Skip time</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ads_skip" data-creative-field="skip"  >
                                    <option value="00:00:05">5 seconds</option>
                                    <option value="00:00:15">15 seconds</option>
                                    <option value="00:00:30">30 seconds</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="row_ads_startime" data-ad-type="1" >
                    <td><strong>Start time</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ads_startime" data-creative-field="staTime"  >
                                    <option value="00:00:00">Pre-roll</option>
                                    <option value="00:05:00">Mid-roll after 5 minutes</option>
                                    <option value="00:10:00">Mid-roll after 10 minutes</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Running Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="date" class="form-control" id="ads_running_date" data-creative-field="runDate" required placeholder="Enter Running Date">
                    </td>
                </tr>
                <tr>
                    <td><strong>Expired Date (format Month/Day/Year)</strong></td>
                    <td>
                        <input type="date" class="form-control" id="ads_expired_date"  data-creative-field="expiredDate" required placeholder="Enter Expired Date">
                    </td>
                </tr>
                <tr>
                    <td><strong>Pricing Model</strong></td>
                    <td>
                        <div class="panel-body text-left" >
                            <div class="radio">
                                <label title="CPV (Cost per Complete-View)">
                                    <input type="radio"  name="prcModel" data-creative-field="prcModel" value="1" > CPV (Cost per Complete-View)</label>
                            </div>
                            <div class="radio ">
                                <label title="CPM (Cost per Mile)">
                                    <input type="radio"  name="prcModel" data-creative-field="prcModel" value="2"> CPM (Cost per Mile)</label>
                            </div>
                            <div class="radio" data-paytv="false">
                                <label title="CPC (Cost per Click)">
                                    <input type="radio"  name="prcModel" data-creative-field="prcModel" value="3"> CPC (Cost per Click)</label>
                            </div>
                            <div class="radio" style="display: none">
                                <label title="CPE (Cost per Engagement)">
                                    <input type="radio"  name="prcModel" data-creative-field="prcModel" value="4"> CPE (Cost per Engagement)</label>
                            </div>
                            <div class="radio" style="display: none">
                                <label title="CPD (Cost per Day)">
                                    <input type="radio"  name="prcModel" data-creative-field="prcModel" value="5" > CPD (Cost per Day)</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-crosshairs" aria-hidden="true"></i> Targeting Information</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>

                <tr>
                    <td><strong>Ad Weight <br> (higher is better)</strong></td>
                    <td>
                        <div class="panel-body text-left">
                            <div class="form-group">
                                <select class="form-control" id="ad_score" data-creative-field="score" >
                                    <option value="10">10%</option>
                                    <option value="20">20%</option>
                                    <option value="30">30%</option>
                                    <option value="40">40%</option>
                                    <option value="50">50%</option>
                                    <option value="60">60%</option>
                                    <option value="70">70%</option>
                                    <option value="80">80%</option>
                                    <option value="90">90%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr data-ad-type="1" >
                    <td><strong>Device Platform</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_device">
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="1" >Web (PC,Laptop)</label>
                            </div>
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="2" >Web (Mobile)</label>
                            </div>
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="3" >Web (iPad)</label>
                            </div>
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="4" >Mobile Native App</label>
                            </div>
                            <div class="checkbox" data-paytv="false">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="5" >Smart TV</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tgpfs"  value="6" data-paytv="default">IPTV TV</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr data-ad-type="1" >
                    <td><strong>Ad Placement</strong></td>
                    <td>
                        <div class="panel-body text-left" id="target_ad_placements">
                            <div class="panel-group" id="accordion_ad_placements" >
                                <div class="panel panel-default" data-paytv="false">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <a data-toggle="collapse" data-parent="#accordion_ad_placements" href="#fptplay_ad_placements">FptPlay.net Ad Placements</a>
                                        </h4>
                                    </div>
                                    <div id="fptplay_ad_placements" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="1" value="101">FPT_PLAY_LIVE_TV</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="1" value="102">FPT_PLAY_VOD</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="5" value="201">FPT_PLAY_SMARTTV_LIVE_TV</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="5" value="202">FPT_PLAY_SMART_TV_VOD</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="301">FPT_PLAY_LIVE_STREAM_IOS</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="302">FPT_PLAY_VOD_IOS</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="303">FPT_PLAY_LIVE_STREAM_ANDROID_BOX</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="304">FPT_PLAY_VOD_ANDROID_BOX</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="305">FPT_PLAY_LIVE_STREAM_ANDROID_APP</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="306">FPT_PLAY_VOD_ANDROID_APP</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="307">FPT_PLAY_LIVE_STREAM_ANDROID_SMART_TV</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="4" value="308">FPT_PLAY_VOD_ANDROID_SMART_TV</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <a data-toggle="collapse" data-parent="#accordion_ad_placements" href="#paytv_ad_placements">PayTV Ad Placements</a>
                                        </h4>
                                    </div>
                                    <div id="paytv_ad_placements" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="checkbox">
                                                <label><input type="checkbox" data-creative-field="tgpms"  data-device-id="6" value="320" data-paytv="default">PAYTV_TVC_PLACEMENT</label>
                                            </div>
                                            <div>
                                                <div class="bold">Only play TVC Ads in these categories</div>
                                                <div>
                                                    <select id="ad_target_content_cats" type="select" data-creative-field="tgcats" data-placeholder="PayTV - Show Ads in these categories" style="width:350px!important;" multiple class="chosen-select" >
                                                        {{#each payTVCategories}}
                                                            <option  value="{{ID}}">{{Category}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div>
                                                    <select id="ad_target_locs" type="select" data-creative-field="tgcats" data-placeholder="PayTV - Show Ads in these locations" style="width:350px!important;" multiple class="chosen-select" >
                                                        {{#each payTVLocations}}
                                                            <option  value="{{ID}}">{{Category}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" data-paytv="false">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <a data-toggle="collapse" data-parent="#accordion_ad_placements" href="#fshare_ad_placements">FShare Ad Placements</a>
                                        </h4>
                                    </div>
                                    <div id="fshare_ad_placements" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="1" value="120">FSHARE_TVC_PLACEMENT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" data-paytv="false">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <a data-toggle="collapse" data-parent="#accordion_ad_placements" href="#nhacso_ad_placements">NhacSo.net Ad Placements</a>
                                        </h4>
                                    </div>
                                    <div id="nhacso_ad_placements" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="checkbox">
                                                <label><input type="checkbox"  data-creative-field="tgpms"  data-device-id="1" value="103">NHACSO_TVC_PLACEMENT</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Location</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_location">
                            <div class="checkbox">
                                <label><input type="checkbox" >Everywhere</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn">In Vietnam</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-south">In Vietnam - (South Area, HCM City)</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-north">In Vietnam - (North Area, Hanoi )</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><strong>Location</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_location">
                            <div class="checkbox">
                                <label><input type="checkbox" >Everywhere</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn">In Vietnam</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-south">In Vietnam - (South Area, HCM City)</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-north">In Vietnam - (North Area, Hanoi )</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr data-paytv="false" >
                    <td><strong>Location</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_location">
                            <div class="checkbox">
                                <label><input type="checkbox" >Everywhere</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn">In Vietnam</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-south">In Vietnam - (South Area, HCM City)</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tglocs"  value="vn-north">In Vietnam - (North Area, Hanoi )</label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr data-paytv="false">
                    <td><strong>Audience Gender</strong></td>
                    <td>
                        <div class="panel-body text-left" id="ad_target_gender">
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tggds"  value="0">Female</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  data-creative-field="tggds"  value="1">Male</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"  >All</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<hr>

<div class="panel">
    <div class="col-lg-12 text-center">
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_ok" type="button" class="btn btn-success"> OK </button>
        </div>
        <div class="col-lg-5 ">
            <button style="width: 100%" id="ads_action_cancel" type="button" class="btn btn-warning"> Cancel </button>
        </div>
    </div>

</div>

<br><br><br>

<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="alert-body col-md-9 col-sm-12">Message error !!!</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/business-domains/creative-handler.js?v=31052016"></script>
<script>var api_domain = "{{site.ssl_api_domain}}";</script>

<script src="js/chosen.jquery.js" ></script>
<script type="text/javascript">
    function initJqueryChosen(){
        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    }
    setTimeout(initJqueryChosen,500)
</script>