<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            {{dashboard_title}}
        </h3>
    </div>
</div>

{{#if editable }}
<p>
    <a href="/flight/create" class="btn btn-primary" id="new-creative">
        <i class="fa fa-industry"></i> Ad Flight
    </a>
</p>
{{/if}}

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table-style" id="flight-list">
        </div>
    </div>
</div>

<script>
    $(function () {

        Handlebars.registerHelper('formatCurrency', function(value) { return value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); });

        render_list();

        function list_html (data){
            var dataList = {flight: data};

            var table = '\
                <table class="table table-hover table-striped" id="tbl-flight"> \
                    <thead> \
                        <tr> \
                            <th class="td-max-60">ID</th> \
                            <th class="td-max-200">Name</th> \
                            <th>Schedules (begin date - end date -> booking)</th> \
                            <th class="td-max-60">Action</th> \
                        </tr> \
                    </thead> \
                    <tbody> \
                    </tbody> \
                </table> \
            ';
            $("#flight-list").empty();
            $("#flight-list").append(table)
            
            if (!data || data.length == 0) {
                $('#tbl-flight').find('tbody').empty().append('<tr><td colspan="8" style="text-align: center">No record found!</td></tr>');
            } else {
                var source = $("#table-list").html();
                var template = Handlebars.compile(source);
                var htmlTable = template(dataList);

                $('#tbl-flight').find('tbody').empty().append(htmlTable);
            }
        }

        function render_list(){
            $.ajax({
                url: '/flight/find/',
                type: "GET",
                contentType: "application/json",
                dataType:'json',
                beforeSend: function(){
                    $('#wrapper').append('<div class="loader"></div>');
                },
                success: function(data){
                    $('.loader').remove();
                    list_html(data);
                    var table = $("#tbl-flight").DataTable({
                        "pageLength": 25,
                        "order": [[0,'desc']]
                    });

                    $('[title]').tooltip();
                }
            });
        }

    });

</script>

<script id="table-list" type="text/x-handlebars">
    \{{#each flight}}
        <tr >
            <td>\{{_id}}</td>
            <td><a href="/flight/find/\{{_id}}" title="\{{name}}">\{{name}}</a></td>
            <td>
                <ul>
                    \{{#each schedules}}
                        <li>\{{begin}} <i class="fa fa-arrow-right" aria-hidden="true"></i> \{{end}}
                        <strong class="color-blue"> <i class="fa fa-chevron-circle-right" aria-hidden="true" style="margin: 0 5px"></i> Booking: \{{booking}}</strong>
                        </li>
                    \{{/each}}
                </ul>
            </td>
            <td>
                <a title="Edit" href="/flight/edit/\{{_id}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    \{{/each}}
</script>
