<div class="content">
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3>{{playContent.title}}</h3>
        </div>
        <div class="right-content-heading-right">
            <div class="social-icons">
                <ul>
                    <li><a class="facebook" href="#" target="_blank"> </a></li>
                    <li><a class="twitter" href="#" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="inner-page">
        <div class="title">
            <h3>{{playContent.description}}</h3>
            <ul>
                <li style="display: none;"><a href="#"><img src="images/sub.png" title="subscribe">subscribe</a></li>
            </ul>
        </div>
        <div class="video-inner">
            <iframe width="100%" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
                    src="{{playContent.playUrl}}"></iframe>
        </div>
        <div class="clear"></div>
        <div class="video-details">
            <ul>
                <li><p>Chia sẻ bởi <a href="#">Feb 14, 2016</a> by <a href="#">{{playContent.author}}</a></p></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="tags">
            <ul>
                <li><h3>Từ khóa:</h3></li>
                {{#each playContent.tags}}
                    <li><a href="#">{{this}}</a> ,</li>
                {{/each}}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="share-artical">
            <h3> Chia sẻ mạng xã hội</h3>
            <ul>
                <li><a href="#"><img src="images/facebook.png" title="facebook">Facebook</a></li>
                <li><a href="#"><img src="images/twiter.png" title="Twitter">Twitter</a></li>
            </ul>
        </div>
        <div class="artical-commentbox">
            <h3>Hãy để lại một lời bình luận</h3>
            <div class="table-form">
                <div class="fb-comments" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>