<base href="{{site.base_domain}}/">

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="REFRESH" content="1800" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title> {{{dashboard_title}}} </title>

<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />

<meta content="XemGiDay" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="{{{dashboard_title}}}" itemprop="headline" property="og:title" />
<meta content="{{{og_url}}}" itemprop="url" property="og:url" />
<meta content="{{{og_image}}}" itemprop="thumbnailUrl" property="og:image" />
<meta content="{{{og_description}}}" itemprop="description" property="og:description" />
