<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/event/">Ad Event Management</a></li>
            <li class="active">Ad Event Report</li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Ad Event Report Detail</strong></div>
      <div class="panel-body">
      	<div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><span id="event_name">{{event.name}}</span></td>
                </tr>
                <tr>
                    <td><strong>Begin time</strong></td>
                    <td><span id="event_begin">{{event.begin}}</span></td>
                </tr>
                <tr>
                    <td><strong>End time</strong></td>
                    <td><span id="event_end">{{event.end}}</span></td>
                </tr>
                <tr>
                    <td><strong>Status</strong></td>
                    <td>
                        <span id="ads_status" data-status="{{event.status}}">{{event.status}}</span>
                    </td>
                </tr>
                <tr>
                    <td><strong>Total View</strong></td>
                    <td><span id="ads_view">{{event.view}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12" style="display: none;">
    <svg id="platforms-chart" class="report-detail-piechart"></svg>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                    <strong>Hourly Report: Impression and Completed-View Data in last 24 hours</strong></h3>
            </div>
            <div class="panel-body">
                <div id="chart_event" class="graph" style='height:250px;'>
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/business-domains/creative-detail-page.js"></script>
<!-- <script type="text/javascript" src="js/business-domains/export_script.js"></script> -->
<script>
    var now = moment();
    var currentDay = now.format("YYYY-MM-DD-HH");
    var previousDay = now.subtract(1, 'days').format("YYYY-MM-DD-HH");
 
    var url = "//360.adsplay.net/api/liveevents/detail?id={{event.id}}";

    d3.json(url, function (error, data) {
        console.log(data)

        if(error){
            return;
        }

        nv.addGraph(function() {
        var chart = nv.models.lineChart()
                        .margin({left: 100})  //Adjust chart margins to give the x-axis some breathing room.
                        .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                        .transitionDuration(350)  //how fast do you want the lines to transition?
                        .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                        .showYAxis(true)        //Show the y-axis
                        .showXAxis(true)        //Show the x-axis
        ;

        chart.xAxis
        .axisLabel('Time')
        .tickFormat(function(d) {
            return d3.time.format('%H:00 %d/%m/%Y ')(new Date(d))
        });

        chart.yAxis     //Chart y-axis settings
            .axisLabel('View')
            .tickFormat(d3.format(',f'));

        /* Done setting the chart up? Time to render it!*/
        var myData = [];
        data.forEach(function(item){
            myData.push({x: new Date(item.time), y: item.view});
        })

        var renderChart = [
            {
                values: myData,      //values - represents the array of {x,y} data points
                key: 'View', //key  - the name of the series.
                color: '#ff7f0e'  //color - optional: choose your own line color.
            }
        ]

        console.log(myData)

        d3.select('#chart_event svg')    //Select the <svg> element you want to render the chart in.   
            .datum(renderChart)         //Populate the <svg> element with chart data...
            .call(chart);          //Finally, render the chart!

        //Update the chart when window resizes.
        nv.utils.windowResize(function() { chart.update() });
            return chart;
        });

    });


</script>