<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list">Ad Unit Management</a></li>
            <li class="active">Ad Report</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel">
            <div class="panel-body">
                <video id="video_ads" class="video-js vjs-default-skin vjs-big-play-centered" autoplay muted controls
                       loop preload="auto"
                       poster="//adsplay.net/img/logo.png"
                       data-setup=''
                       width='100%'
                       height='300'>
                    <source src="{{site.ads_cdn_domain}}/{{crt.media}}" type="video/mp4">
                </video>
            </div>
            <div class="panel-body margin-btn-5">
                {{#if actions.creative.edit.show }}
                    <a href="{{buildUrl editUrl}}" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Edit
                    </a>
                {{/if}}
                {{#if actions.creative.copy.show  }}    
                    <a href="{{buildUrl editUrl}}?copy=true" class="btn btn-default">
                        <i class="fa fa-files-o" aria-hidden="true"></i> Copy
                    </a>
                {{/if}}    
                {{#if actions.creative.delete.show }}    
                    <a href="{{site.base_domain}}/creative/delete/{{crt.id}}" onclick="return confirmDeleteCrt(this)" class="btn btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{crt.name}}</strong>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <div id="booking_progress"  style='height:55px;'>
                                    <svg></svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Created date</strong></td>
                            <td><span id="ads_date_started">{{crt.crtDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Run date</strong></td>
                            <td><span id="ads_date_run">{{crt.runDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Expired date</strong></td>
                            <td><span id="ads_date_expired">{{crt.expDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td>
                                <span {{#if editable }} id="ads_status" data-status="{{crt.status}}" {{/if}}>{{crt.status}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Click Through URL</strong></td>
                            <td><a id="ads_cliThr" href="{{crt.cliThr}}">{{crt.cliThr}}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Total Booking</strong></td>
                            <td><span id="ads_totalBooking" class="impress-text">{{formatCurrency crt.tBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Daily Booking</strong></td>
                            <td><span id="ads_dailyBooking" class="impress-text">{{formatCurrency crt.dBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Hourly Booking</strong></td>
                            <td><span id="ads_hourlyBooking" class="impress-text">{{formatCurrency crt.hBk}}</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Ad materials</strong></td>
                            <td><span id="ads_materials">{{crt.nameType}}</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Duration</strong></td>
                            <td><span id="ads_duration">15 seconds</span></td>
                        </tr>
                        <tr style="display: none">
                            <td><strong>Size</strong></td>
                            <td><span id="ads_size">2 MB</span></td>
                        </tr>
                        <tr>
                            <td><strong>Click-through Rate (CTR)</strong></td>
                            <td><span datatype="real-time" id="ctr">0</span> %</td>
                        </tr>
                        <tr>
                            <td><strong>Completed-View Rate (CVR)</strong></td>
                            <td><span datatype="real-time" id="trueViewRate">0</span> %</td>
                        </tr>
                        <tr>
                            <td><strong>Total Impression</strong></td>
                            <td>
                                <span datatype="real-time" id="totalImp">0</span>
                                <span datatype="real-time" id="totalImpDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total True View</strong></td>
                            <td><span datatype="real-time" id="totalTrv">0</span>
                                <span datatype="real-time" id="totalTrvDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Completed View</strong></td>
                            <td><span datatype="real-time" id="totalCpv">0</span>
                                <span datatype="real-time" id="totalCpvDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Click</strong></td>
                            <td><span datatype="real-time" id="totalClick">0</span>
                                <span datatype="real-time" id="totalClickDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Audience Reach</strong></td>
                            <td><span datatype="real-time" id="reach">0</span>
                                <span datatype="real-time" id="totalReachDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Estimated Revenue</strong></td>
                            <td><span id="ads_totalRevenue"
                                      class="impress-text">{{formatCurrency crt.totalRevenue}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <h2>Report from {{begin}} to {{end}}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tc-main-graphs">Report Details</a></li>
        <li><a href="#tc-daily-details">Daily Report</a></li>
        <li><a href="#tc-excel-export">Excel Export</a></li>
        <li><a href="#demo-graphic">Demographics</a></li>
    </ul>

    <div class="tab-content">
        <div id="tc-main-graphs" class="tab-pane fade in active">

            <div class="row" id="piechart-wrap">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Content Source</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-12">
                                    <div id="piechart" style="height: 250px"><svg></svg></div>
                                </div>
                                <div class="col-md-7 col-xs-12" id="table-content-source">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Audience Reach on Ad Placements</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <svg id="platforms-chart" class="report-detail-piechart"></svg>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <svg id="audience-wrapp" class="report-detail-piechart"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Hourly Report: Impression and Completed-View Data in last 24 hours</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="export_form" id="Impression-CompletedView" data-export='{"url": "export/excel/Impression-CompletedView", "begin": "{{begin}}", "end": "{{end}}", "id": {{crtId}} }'></div>

                            <div id="chart_hourly_imp_and_view" class="graph" style='height:250px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Daily Report: Impression and Completed-View Data from {{begin}}
                                    to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_imp_and_view" class="graph" style='height:250px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i><strong>Daily Report: Click
                                Data
                                from {{begin}}
                                to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_click" class="graph" style='height:210px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Daily Report: Audience Reach Data from {{begin}} to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_reach" class="graph" style='height:210px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Daily Report: Video % Played Rate from {{begin}} to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chartPercentComplete" class="graph" style='height:210px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tc-daily-details" class="tab-pane fade">
            <div class="table-responsive" id="crt_pf_details">
            </div>
        </div>

        <div id="tc-audience" class="tab-pane fade">

        </div>
        <!-- <div id="tc-platform" class="tab-pane fade">
            <svg id="platform-wrapp" class="report-detail-piechart"></svg>
        </div> -->
        <div id="tc-excel-export" class="tab-pane fade">
            <br>
            <div class="col-md-12" style="height: 100px">
                <a href="/export/excel/creative/stats?id={{crtId}}&type={{type}}&begin={{begin}}&end={{end}}" id="excel_export" target="_blank" class="btn btn-info btn-lg">Download</a>
            </div>
            <br><br><br>
        </div>

        <div id="demo-graphic" class="tab-pane fade">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                                <i class="fa fa-users" aria-hidden="true"></i> Age

                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Age </th>
                                        <th> <15 </th>
                                        <th> 16-25 </th>
                                        <th> 26-35 </th>
                                        <th> 36-45 </th>
                                        <th> 46-55 </th>
                                        <th> 56-65 </th>
                                        <th> 66-75 </th>
                                        <th> 76+ </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 6% </td>
                                        <td> 43% </td>
                                        <td> 32% </td>
                                        <td> 10% </td>
                                        <td> 5% </td>
                                        <td> 4% </td>
                                        <td> 0% </td>
                                        <td> 0% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <i class="fa fa-child" aria-hidden="true"></i> Children
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Children </th>
                                        <th> Yes </th>
                                        <th> No </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 58% </td>
                                        <td> 42% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Education </th>
                                        <th> Primary school </th>
                                        <th> High school </th>
                                        <th> Secondary: technical/vocational </th>
                                        <th> Secondary: university-preparatory </th>
                                        <th> University or College </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 14% </td>
                                        <td> 21% </td>
                                        <td> 6% </td>
                                        <td> 8% </td>
                                        <td> 51% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <i class="fa fa-suitcase" aria-hidden="true"></i> Employment
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Employment </th>
                                        <th> Employed </th>
                                        <th> Currently unemployed </th>
                                        <th> Retired, pensioner </th>
                                        <th> Homemaker </th>
                                        <th> Student </th>
                                        <th> Other </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 54% </td>
                                        <td> 6% </td>
                                        <td> 2% </td>
                                        <td> 2% </td>
                                        <td> 33% </td>
                                        <td> 3% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <i class="fa fa-mars"></i> Gender
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Gender </th>
                                        <th> Male </th>
                                        <th> Female </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 62% </td>
                                        <td> 38% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                <i class="fa fa-home" aria-hidden="true"></i> Householdsize
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Householdsize </th>
                                        <th> 1 </th>
                                        <th> 2 </th>
                                        <th> 3 </th>
                                        <th> 4 </th>
                                        <th> 5 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 4% </td>
                                        <td> 9% </td>
                                        <td> 16% </td>
                                        <td> 43% </td>
                                        <td> 28% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                <i class="fa fa-usd" aria-hidden="true"></i> Income in VND
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Income in VND </th>
                                        <th> <3M </th>
                                        <th> 3M-7,5M </th>
                                        <th> 7,5M-30M </th>
                                        <th> 30M-45M </th>
                                        <th> 45M+ </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Total </td>
                                        <td> 24% </td>
                                        <td> 38% </td>
                                        <td> 31% </td>
                                        <td> 4% </td>
                                        <td> 4% </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{{>popup-partial}}

<script src="js/business-domains/action-handler.js"></script>
<script src="js/business-domains/creative-detail-page.js"></script>
<script>
//preview TVC Instream Video Ads auto
var player = videojs('video_ads').ready(function() {
    this.play();
});

var adType = {{crt.adType}};

var filterDate = new moment().format("YYYY-MM-DD");
var now = moment();
var currentDay = now.format("YYYY-MM-DD-HH");
var previousDay = now.subtract(1, 'days').format("YYYY-MM-DD-HH");

var totalBooking = parseInt({{crt.tBk}});

var urlSummary = "{{site.ssl_api_domain}}/api/creative/summary/{{crtId}}";
var urlLineChart = "{{site.ssl_api_domain}}/api/creative/stats/{{crtId}}?type={{type}}&begin={{begin}}&end={{end}}";
var urlDrawHourly = "{{site.ssl_api_domain}}/api/creative/stats/{{crtId}}?type=hourly";

loadSummaryData(urlSummary);
drawHourlyStatsData(urlDrawHourly, previousDay, currentDay);
loadLineChartWithData(urlLineChart);

if ('{{crt.status}}' === 'Running') {
    setInterval(function () {
        loadSummaryData(urlSummary);
        //drawHourlyStatsData(urlDrawHourly, previousDay, currentDay);
        // loadLineChartWithData();
    }, 10001);
}

var typePlatforms = {{{json platforms}}};
var typePlacements = {{{json placements}}};

var urlPlatforms = "{{site.ssl_api_domain}}/api/creatives/{{crtId}}/platforms";
var urlPlacements = "{{site.ssl_api_domain}}/api/creatives/{{crtId}}/placements"

setTimeout(renderPlatform(urlPlatforms, typePlatforms), 100);
setTimeout(displayAudienceReachAndDeviceType(urlPlacements, typePlacements), 100);
setTimeout(displayPlatforms(urlPlacements), 100);

</script>

<script id="tpl_crt_pf_report" type="text/x-handlebars">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Impression</th>
            <th>Complete-View</th>
            <th>Unique Impression</th>
            <!--<th>Frequency</th>-->
            <th>Clicks</th>
            <th>CTR</th>
            <th>(%)Complete-View</th>
        </tr>
        </thead>
        <tbody>

        \{{#each adsStatsData}}
        <tr>
            <td><i><strong>\{{date}}</strong></i></td>
            <td>\{{imp}}</td>
            <td>\{{completeView}}</td>
            <td>\{{uniqueImp}}</td>
            <!--<td><strong>\{{freq}}</strong></td>-->
            <td>\{{click}}</td>
            <td><strong>\{{ctr}}</strong></td>
            <td>\{{view100}}</td>
        </tr>
        \{{/each}}

        </tbody>
    </table>
</script>
<script type="text/javascript" src="js/business-domains/export_script.js"></script>
<script type="text/javascript" src="js/business-domains/chart_script.js"></script>