<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="creative/list">Ad Unit Management</a></li>
            <li class="active">Ad Details</li>
        </ol>
        <h1 class="page-header">
            <span>{{crt.name}}</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-5 text-center" style="">
        <div class="panel">
            <div class="panel-body">
                <div class="iframeWrap">
                    <iframe class="iframeHtml" width="{{crt.w}}" height="{{crt.h}}" src="{{crt.media}}" ></iframe>
                </div>
            </div>
            <div class="panel-body">
                {{#if editable }}
                    <a href="{{buildUrl editUrl}}" class="btn btn-primary btn-lg">
                        <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Edit Ad
                    </a>
                    <a href="{{buildUrl editUrl}}?copy=true" class="btn btn-default btn-lg">
                        <i class="fa fa-files-o" aria-hidden="true"></i> Copy Ad
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-7 text-center">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Summary Report from {{begin}} to {{end}} </strong></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <td><strong>Created date</strong></td>
                            <td><span id="ads_date_started">{{crt.crtDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Run date</strong></td>
                            <td><span id="ads_date_run">{{crt.runDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Expired date</strong></td>
                            <td><span id="ads_date_expired">{{crt.expDate}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td><span id="ads_status">{{crt.status}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Click Through URL</strong></td>
                            <td><a id="ads_cliThr" href="{{crt.cliThr}}">{{crt.cliThr}}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Total Booking</strong></td>
                            <td><span id="ads_totalBooking" class="impress-text">{{formatCurrency crt.tBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Daily Booking</strong></td>
                            <td><span id="ads_dailyBooking" class="impress-text">{{formatCurrency crt.dBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Hourly Booking</strong></td>
                            <td><span id="ads_hourlyBooking" class="impress-text">{{formatCurrency crt.hBk}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Discount</strong></td>
                            <td><span id="ads_discount" class="impress-text">{{formatCurrency crt.discount}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Ad materials</strong></td>
                            <td><span id="ads_materials">{{crt.nameType}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Click-through Rate (CTR)</strong></td>
                            <td><span datatype="real-time" id="ctr">0</span> %</td>
                        </tr>
                        <tr>
                            <td><strong>Total Impression</strong></td>
                            <td>
                                <span datatype="real-time" id="totalImp">0</span>
                                <span datatype="real-time" id="totalImpDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Click</strong></td>
                            <td><span datatype="real-time" id="totalClick">0</span>
                                <span datatype="real-time" id="totalClickDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Audience Reach</strong></td>
                            <td><span datatype="real-time" id="reach">0</span>
                                <span datatype="real-time" id="totalReachDelta" style="display: none"
                                      class="glyphicon glyphicon-export">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Estimated Revenue</strong></td>
                            <td><span id="ads_totalRevenue" class="impress-text">{{formatCurrency crt.totalRevenue}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h2>Report Details</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tc-main-graphs">Report Details</a></li>
        <li><a href="#tc-daily-details">Daily Details</a></li>
        <li><a href="#tc-audience">Audience</a></li>
        <li><a href="#tc-platform">Platform</a></li>
        <li><a href="#tc-excel-export">Excel Export</a></li>
    </ul>

    <div class="tab-content">
        <div id="tc-main-graphs" class="tab-pane fade in active">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Hourly Report: Impression and Click Data in last 24 hours</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_hourly_imp_and_click" class="graph" style='height:250px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Daily Report: Impression and Click Data from {{begin}} to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_imp_and_click" class="graph" style='height:250px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>
                                <strong>Daily Report: Audience Reach Data from {{begin}} to {{end}} </strong></h3>
                        </div>
                        <div class="panel-body">
                            <div id="chart_reach" class="graph" style='height:210px;'>
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="tc-daily-details" class="tab-pane fade">
            <div class="table-responsive" id="crt_pf_details">
            </div>
        </div>
        <div id="tc-audience" class="tab-pane fade">

        </div>
        <div id="tc-platform" class="tab-pane fade">

        </div>

        <div id="tc-excel-export" class="tab-pane fade">
            <br>
            <div class="col-md-12" style="height: 100px">
                <a href="/export/excel/creative/stats?id={{crtId}}&type={{type}}&begin={{begin}}&end={{end}}" id="excel_export" target="_blank" class="btn btn-info btn-lg">Download</a>
            </div>
            <br><br><br>
        </div>

    </div>

</div>

<script src="js/business-domains/action-handler.js"></script>
<script src="js/business-domains/creative-detail-page.js"></script>
<script>
var adType = {{crt.adType}};

var filterDate = new moment().format("YYYY-MM-DD");
var now = moment();
var currentDay = now.format("YYYY-MM-DD-HH");
var previousDay = now.subtract(1, 'days').format("YYYY-MM-DD-HH");

var totalBooking = parseInt({{crt.tBk}});

var urlSummary = "{{site.ssl_api_domain}}/api/creative/summary/{{crtId}}";
var urlLineChart = "{{site.ssl_api_domain}}/api/creative/stats/{{crtId}}?type={{type}}&begin={{begin}}&end={{end}}";
var urlDrawHourly = "{{site.ssl_api_domain}}/api/creative/stats/{{crtId}}?type=hourly";

loadSummaryData(urlSummary);
drawHourlyStatsData(urlDrawHourly, previousDay, currentDay);
loadLineChartWithData(urlLineChart);

if ('{{crt.status}}' === 'Running') {
    setInterval(function () {
        loadSummaryData(urlSummary);
        drawHourlyStatsData(urlDrawHourly, previousDay, currentDay);
        // loadLineChartWithData();
    }, 10001);
}
</script>

<script id="tpl_crt_pf_report" type="text/x-handlebars">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>CTR</th>
        </tr>
        </thead>
        <tbody>

        \{{#each adsStatsData}}
        <tr>
            <td><i><strong>\{{date}}</strong></i></td>
            <td>\{{imp}}</td>
            <td>\{{click}}</td>
            <td><strong>\{{ctr}}</strong></td>
        </tr>
        \{{/each}}

        </tbody>
    </table>
</script>