<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Campaign Management
        </h3>
    </div>
</div>

{{#if editable }}
<p>
    <a href="/campaign/create" class="btn btn-primary" id="new-creative">
        <i class="fa fa-industry"></i> New Ad Live campaign
    </a>
</p>
{{/if}}

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive" id="campaign-list">
        </div>
    </div>
</div>

<script>
    $(function () {

        Handlebars.registerHelper('formatCurrency', function(value) { return value.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); });


        function list_html (data){
            var dataList = {campaign: data};

            var table = '\
                <table class="table table-hover table-striped" id="tbl-campaign"> \
                	<thead> \
		                <tr> \
		                    <th>ID</th> \
		                    <th>Name</th> \
		                    <th>Ads</th> \
		                </tr> \
                    </thead> \
                    <tbody> \
                    </tbody> \
                </table> \
            ';
            $("#campaign-list").empty();
            $("#campaign-list").append(table)
            
            if (!data || data.length == 0) {
                $('#tbl-campaign').find('tbody').empty().append('<tr><td colspan="8" style="text-align: center">No record found!</td></tr>');
            } else {
                var source = $("#tpl-crt-list").html();
                var template = Handlebars.compile(source);
                var htmlTable = template(dataList);

                $('#tbl-campaign').find('tbody').empty().append(htmlTable);
            }
        }

        function render_list(begin, end){
            $.ajax({
                url: '/campaign/find?begin='+begin+'&end='+end,
                type: "GET",
                contentType: "application/json",
                dataType:'json',
                beforeSend: function(){
                    $('#wrapper').append('<div class="loader"></div>');
                },
                success: function(data){
                    $('.loader').remove();
                    list_html(data);
                    icon_status();
                    var table = $("#tbl-campaign").DataTable({
                        "pageLength": 25,
                        "order": [[0,'desc']]
                    });

                    $("#filter-status").change(function(){
			        	table.search($(this).val()).draw();
			        });

                    render_action();
                    $('[title]').tooltip();
                }
            });
        }

    });

</script>

<script id="tpl-crt-list" type="text/x-handlebars">
    \{{#each campaign}}
        <tr >
            <td>\{{id}}</td>
            <td><a href="/campaign/find/\{{id}}">\{{name}}</a></td>
            <td>\{{view}}</td>
            <td data-status="\{{status}}" data-order="\{{status}}"  data-search="\{{status}}">\{{status}}</td>
            <td class="td-max-400">\{{begin}} &#10145; \{{end}}</td>
            <td>
            	<a title="Edit" href="/campaign/edit/\{{id}}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    \{{/each}}
</script>
