<div class="panel panel-default" id="filter-wrap">
	<div class="panel-heading">Filter Query</div>
	<div class="panel-body">
		<div class="col-md-4 col-xs-12">
			<div class="form-group">
	            <div class="input-group date" id="begin">
	                <input type='text' class="form-control" autocomplete="off"/>
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="form-group">
	            <div class="input-group date" id="end">
	                <input type='text' class="form-control" autocomplete="off"/>
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
		</div>
		<div class="clearfix"></div>
		
		<div class="col-md-3 col-sm-6 col-xs-12">
			<select type="select" class="select-multi" id="input_publishers" data-placeholder="publishers" multiple="multiple">
				{{#each publishers}}
					<option value="{{@key}}" selected>{{this}}</option>
				{{/each}}
			</select>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<select type="select" class="select-multi" id="input_platforms" data-placeholder="platforms" multiple="multiple">
				{{#each platforms}}
					<option value="{{@key}}" selected>{{this}}</option>
				{{/each}}
			</select>
		</div>


		<div class="col-md-3 col-sm-6 col-xs-12" style="display: none">
			<select type="select" class="select-multi" id="input_placements" data-placeholder="placements" multiple="multiple">
				{{#each placements}}
					<option value="{{@key}}">{{this}}</option>
				{{/each}}
			</select>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12" style="display: none">
			<select type="select" class="select-multi" id="input_location" data-placeholder="location" multiple="multiple">
				{{#each locationCodes.Area}}
					<optgroup label="{{AreaName}}">
						{{#each ListArea}}
							<option value="{{ConChar}}">{{LocName}}</option>
						{{/each}}
					</optgroup>
				{{/each}}
			</select>

		</div>

		<div class="col-md-3 col-sm-6 col-xs-12" style="display: none">
			<select type="select" class="select-multi" id="input_startTime" data-placeholder="start time" >
				<option value="00:00:00">Pre-roll</option>
				<option value="00:05:00">Mid-roll after 5 minutes</option>
				<option value="00:10:00">Mid-roll after 10 minutes</option>
			</select>
		</div>

		<div class="clearfix"></div>
		<div class="col-md-12 text-left" style="margin-top: 10px">
            <a href="javascript:" class="btn btn-primary" id="filter-btn" >
                <i class="fa fa-fw fa-check"></i> OK
            </a>
		</div>
	</div>
</div>
	
<div class="row" >

  <div class="col-md-8 col-xs-12">

	<div id="piechart"><svg></svg></div>
	<div id="linechart" style="display: none" ><svg></svg></div>
	<div id="stackedchart" style="display: none" ><svg></svg></div>

  </div>
  <div class="col-md-4 col-xs-12" id="sum-panel">
  	
  </div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">Details</div>
	<div class="panel-body">
		<div id="table-wrap">
		</div>
	</div>
</div>

<script type="text/javascript" src="js/business-domains/inventory-handler.js"></script>